/* Body styles */
body {
  background-color: whitesmoke; 
  background-image: url(./images/HD-wallpaper-death-note-notebook-notebook-shinigami-death-note-anime.jpg);
  background-size: 10px 30px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin: 0;
}


/* Navbar styles */
header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1000; 
  left: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; 
}

.navbar-content {
  max-width: 1200px; 
  width: 100%;
  padding: 0 20px;
}

.navbar-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  font-family: 'Marker Felt', fantasy;                                          
  letter-spacing: 10px; 
  text-transform: uppercase; 
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-task {
  text-decoration: line-through;
}

.Container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  position: relative;
  max-width: 600px;
  background-image: linear-gradient(0deg, transparent 10px, #ccc 10px, #ccc 11px, transparent 11px);
  background-size: 100% 22px; /* Set the size of the background pattern */
  cursor: url(./images/iconmonstr-pencil-9.svg), auto;
}

.notepad-bar {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}

.todo-list li:last-child {
  border-bottom: none;
}

.Input-Container {
  border-radius: 10px;
  overflow: hidden; /* Ensures that the border-radius is applied properly */
}

/* TodoInput styles */
#TodoInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: 70%;
}

/* AddTask and CompleteAll buttons styles */
#AddTask,
#CompleteAll {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 1rem;
}

/* AddTask and CompleteAll hover styles */
#AddTask:hover,
#CompleteAll:hover {
  background-color: darkred;
}

/* Buttons inside the task list styles */
.todo-list li button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Buttons inside the task list hover styles */
.todo-list li button:hover {
  background-color: #ccc;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

